# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Binaries
/canopy

# Beads local sync state
.beads/sync_base.jsonl

# Claude local settings
.claude/settings.local.json
.claude.json.backup
go/
